main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.titre {
  grid-area: 1 / 1 / 2 / 3
}

.filtres,
.resultats {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px gray;
  margin: 8px;
  padding: 8px;
}

.filtres {
  grid-area: 2 / 1 / 3 / 2
  width: 200px;
  height: 400px;
}

.resultats {
  grid-area: 2 / 2 / 3 / 3
}

.articles {
  flex: 1;
  margin: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.articles a {
  border: 1px solid black;
  padding: 4px;
}

.articles a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
}

.articles a p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.lien-conteneur {
  position: relative;
  background-color: #0070C0;
  border-radius: 4px;
  box-shadow: 0px 0px 4px gray;
  margin: 8px;
  padding: 8px;
}

.lien-conteneur:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur:hover .lien-hover {
  display: flex;
}


@media screen and (max-width: 996px) {
  .grid-paysages, .grid-portraits {
    display: flex;
    flex-direction: column;
  }
}