* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background: linear-gradient(135deg,rgba(0, 112, 192, 1) 0%, rgba(0, 145, 224, 1) 75%, rgba(0, 198, 255, 1) 100%);
}

section {
  padding: 80px;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  color: #242424;
  margin-top: 20px;
  margin-bottom: 40px;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  max-height: 85px;
  padding: 20px 50px;
}

nav,
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav img,
footer img {
  height: 65px;
  width: auto;
}

nav div,
footer div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}




@media screen and (max-width: 996px) {
  section {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }
}